@use "src/styles/foundations/_response_mixins.scss" as *;
// @use "src/styles/foundations/_colors.scss" as *;

.sectionHeader{
  padding-top: 6rem;
  padding-bottom: 1.5rem;
  @extend %grid-12;
}

.sectionHeaderInner{
  grid-column-end: span 9;
  @include breakpoint (w-sm) {
    grid-column-end: span 12;
  }
  
}
