.card {
  box-shadow: var(--shadow);
  background-color: var(--color-bg2);
  border: var(--border);
  border-radius: 1rem;
}



.cardContent {
    overflow: hidden;
}

.body {
  color: var(--foreground);
  margin-top: 1rem;
}

.cardCount {
  color:var(--color-brand)
}

