// @use "src/styles/foundations/_response_mixins.scss" as *;
// @use "src/styles/foundations/_colors.scss" as *;

.wideListItem{
  border-bottom: solid 1px var(--color-hairline);
  padding-bottom: 3rem;
}

.count {
  color:var(--color-brand)
}