@use "src/styles/foundations/_response_mixins.scss" as *;

.rowWrapper {
  width: 100%;
  @extend %grid-12;

  @include breakpoint(w-sm){
    margin-bottom: 3rem;

  }
}

.metaWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  grid-column: 4 / span 6;

  @include breakpoint(w-med){
    grid-column: 1 / span 12;
  }

  @include breakpoint(w-sm){
    flex-direction: column;
    gap: 1rem;
    max-width: 25ch;
    

  }
}

.metaCol {
  display: flex;
  flex-direction: column;
  flex: 1;

  @include breakpoint(w-sm) {
    width: 100%;

  }
}

.metaLabel {
  margin-bottom: 0.5rem;

  @include breakpoint(w-sm){
    margin-bottom: 0rem;
  }
}

.metaValue {
  white-space: pre-line;
}

.divider {
  width: 1px;
  background: var(--color-label);
  height: 80%;

  align-self: center;

  @include breakpoint(w-sm){
    display: none;
  }
} 