.card {
  box-shadow: var(--shadow);
  background-color: var(--color-bg2);

  border-radius: 1rem;
}

.cardContent {
    overflow: hidden;
}

.quote {
  color: var(--foreground);
}

.footer {
  padding-top: 1rem;
}

.image {

}

.name {
  color: var(--color-default);
}

.jobTitle,
.company {
  color: var(--color-label);
}

.imageContainer {
  position: relative;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  
  &.loaded {
    opacity: 1;
  }
}
