@use "src/styles/foundations/_response_mixins.scss" as *;

.contact_container {
  @include page-width;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.circle_container {
  position: absolute;
  width:100%;
  height: 100%;
  overflow: visible;

}

.circle {
    &1, &2 {
      position: absolute;
      background-color: var(--color-brand);
      border-radius: 50%;
      display: block;
    }

    &1 {
      height: 7rem;
      width: 7rem;
      top:   23%;
      left: 27%;

       @include breakpoint(w-lg){
        left: 22%;
      }
      @include breakpoint(w-med){
        left: 15%;
        height:18vw;
        width:18vw;
        max-height:7rem;
        max-width:7rem;
      }
      @include breakpoint(w-sm){
        top:   30%;
        left: 2%;
        height:20vw;
        width:20vw;
        max-height:7rem;
        max-width:7rem;
      }
    }
  
    &2 {
      height: 10rem;
      width: 10rem;
      top:   33%;
      left: 60%;
  
      @include breakpoint(w-med){

        height:25vw;
        width:25vw;
        max-height:10rem;
        max-width:10rem;
      }

      @include breakpoint(w-sm){
        top: 45%;
         left: 75%;
         height:27vw;
         width:27vw;
         max-height:10rem;
         max-width:10rem;
       }
  
      // @include breakpoint(w-med){
      //   right:15rem;
      //   bottom: 1rem;
      //   height:55vw;
      //   width:55vw;
      //   max-height:18rem;
      //   max-width:18rem;
  
      // }
  
    }

  }

.circle1, .circle2 {
  will-change: transform;
  backface-visibility: hidden;
  transform: translateZ(0);
}

