@use "src/styles/foundations/_response_mixins.scss" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
    gap: 2rem;
}

.oneSmall {
    grid-column: 3 / span 8;

    @include breakpoint(w-med) {
        grid-column: 3 / span 8;
    }  

    @include breakpoint(w-sm) {
        grid-column: 1 / span 12;
    }
}

.oneLarge {
    grid-column: 1 / span 12;
}

.twoSmall {
    grid-column: 3 / span 8;



    @include breakpoint(w-med) {
        grid-column: 1 / span 12;
    }
    
    
}

.twoLarge {
    grid-column: 1 / span 12;
}

.wrapperRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;         // <-- Make it fill the parent
  align-self: stretch; // <-- Helps in grid layouts

  @include breakpoint(w-med) {
    flex-direction: column;
    gap: 1.5rem;
    }

}

.imgCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 0;
}

.imageContainer {
  position: relative;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  
  &.loaded {
    opacity: 1;
  }
}

.img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 0.5rem;
}

.caption {
  text-align: center;
}