@use "src/styles/foundations/_response_mixins.scss" as *;

.carouselWrapper {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .carousel {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    padding-top:1rem;
    padding-bottom:1.5rem;
  }

  
  .carouselTrack {
    display: inline-flex;
    animation: scroll 30s linear infinite;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .carouselItem {
    width: 400px;
    flex-shrink: 0;
    padding: 0 8px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  

    @include breakpoint(w-sm){
      width: 300px;
    }
  }
  
  .gradientOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 8rem;
    pointer-events: none;
  }
  
  .leftGradient {
    left: 0;
    background: linear-gradient(to right, var(--background), transparent);
  }
  
  .rightGradient {
    right: 0;
    background: linear-gradient(to left, var(--background), transparent);
  }
  
  .carousel:active {
    cursor: grabbing;
  }
  
  .carousel::-webkit-scrollbar {
    display: none;
  }
  
  .carousel {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  