@use "src/styles/foundations/_response_mixins.scss" as *;

.caseCard{

  border-radius:var(--border-radius);
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 50% 50%;
  margin-bottom: 1.5rem;
  background-color: var(--color-bg2);
  overflow: hidden;
  transition: box-shadow 0.3s ease, outline 0.3s ease;
  color: var(--foreground);
  cursor: pointer !important;
  outline: 2px solid transparent;
  outline-offset: -2px;
  text-decoration: none;
  box-shadow: var(--shadow);

  &::after {
    content: none;
  }

  &:hover {
    h1, h2 {
      color: var(--foreground);
    }

    
  }

  &.hovered {
    box-shadow: var(--shadow-hover);
    outline: var(--border-hover);
  }

  @include breakpoint(w-med) {
    grid-auto-flow: row;
    grid-template-columns: 100%;
  }


}

.cta_wrapper {
  margin-top: 5rem;

  @include breakpoint(w-med) {
    margin-top: 2rem;
  }

  
}





.left {
  padding:2rem;
}




.right {
  flex: 1;
  background-color: var(--muted-background);
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
  @include breakpoint(w-med) {
    max-height:300px;
  }
}

.right_img {
  box-shadow: var(--shadow);
  border: var(--border) ;
  overflow:hidden;
  border-radius:1rem;
  position:relative;
  top: 38%;
  left:0;
  width:100%;
  rotate: -12deg;
  scale: 1.35;
  transform-origin: top left;
  transition: all 0.3s ease;

  @include breakpoint(w-med) {
    scale: 1;
    translate: 1rem 0rem;
    top:15%;
    transform-origin: top right;
  }

  @include breakpoint(w-sm) {
    scale: 1;
    translate: 1rem 0rem;
    top:10%;
    transform-origin: top right;
  }


}

.caseCard:hover{
  .right_img {
    rotate: -7deg;
    scale: 1.75;
    translate: 0rem -3rem;
    box-shadow: var(--shadow-hover);

    @include breakpoint(w-med) {
    rotate: -4deg;
    scale: 1.15;
     translate: 10rem 0rem;
    }

    @include breakpoint(w-sm) {
      rotate: -4deg;
      scale: 1.15;
       translate: 7rem 0rem;
      }

  }
}

.logo_wrapper {
  height: 2rem; // Default height (32px)
  width: auto;
  display: flex;
  align-items: center;

  @include breakpoint(w-med) {
    height: 1.5rem; // Smaller height for mobile (24px)
  }

  svg {
    height: 100%;
    width: auto;
  }
}

.imageContainer {
  position: relative;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  
  &.loaded {
    opacity: 1;
  }
}