.linkIcon {
  cursor: pointer !important;
  display: inline-block;

  &::after {
    content: none;
  }

  svg path {
    transition: fill 1500ms ease;
  }

  &:hover svg path {
    fill: var(--color-brand);
  }

  &:active svg path {
    fill: var(--color-brand);
  }
}

